h1 {
  margin: 0;
}

input, textarea {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 240, 242);
  font-size: 0.9rem;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
}

textarea {
  resize: none;
}

label {
  font-weight: bolder;
  font-size: 0.9rem;
  padding-left: 4px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

img {
  height: 2.5rem;
  width: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  margin-bottom: 48px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button {
  font-size: 1.5rem;
  width: 112px;
  padding: 4px 0;
  border-radius: 15px;
  background-color: pink;
  border: 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  align-self: flex-end;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}

.form-header-container {
  display: flex;
  justify-content: space-between;
}

.form-header-container button {
  align-self: center;
}

.form-title-container {
  display: flex;
  gap: 8px;
}

.date-container {
  display: flex;
  justify-content: space-between;
}

.form-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  padding: 6px;
}

.button-container {
  display: flex;
  gap: 8px;
}

.button-container button {
  font-size: 1rem;
  width: 64px;
  padding: 2px 0;
  border-radius: 8px;
  background-color: pink;
}